*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#main_pic_div{
    background:url(images/heroSectionBackground.png);
    min-height: 70vh;   
    background-position: center;
    background-size: cover;
    
}
#navigation{
    height: 80px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: large;
    padding-left:100px;

}
.menu_bar{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 25px;
}
#navigation a{
    padding-top: 20px;
    color: white;
    text-decoration: none;
}
.link{
    padding-top: 20px;
    color: white;
    text-decoration: none;
}
.user_icon{
    padding-top: 20px;
    /* border-radius: 50%; */
    /* border: solid 1px white; */
    color: white;
    display: none;
}
.Hero_section{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Zomato_Search_bar{
    background-color: white;
    padding: 10px;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.hero_section_Dish, .hero_section_location{
    border: none;
    outline: none;
    margin-left: 10px;

}
#Location_icon{
    margin-top: 6px;
    margin-right: -10px;
    height: 20px;
    width: 20px;
    color: rgb(243, 152, 152);
}
#Search_icon{
    margin-top: 8px;
    margin-left: 5px;
    /* height: 50px; */
    /* width: 50px; */
    color: rgb(155, 148, 148);
}
.hero_section_location{
    width: 30%;
    border-right: 2px solid rgb(230, 228, 228);
}
.hero_section_Dish{
    width: 70%;
    
}
.Collector_bar{
    display: flex;
    flex-direction: column;
}
.Collector_section_1{
    height: 350px;
    display: flex;
    flex-direction: row;
    /* background-color:aqua; */
    gap: 20px;

}
.Order_card{
    height: 250px;
    width: 530px;
    /* background-color: black; */
    margin: 50px 0 0 250px;
    border-radius: 10px;
    border: 1px solid rgb(208, 204, 204);
}
.Order_card:hover{
    transform: scale(1.05);
    /* transition: all 1s ease; */
    overflow: hidden;
    transition-duration: 300ms;
    cursor: pointer;
    

}
.Zomato_logo{
    margin-top: 40px;
    height: 70px;
    width: 300px;
}
.Collection_section{
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 350px;
    align-items: center;
    justify-content: center;
}
.card1{
    height: 300px;
    width: 250px;
    background: url(images/collection1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    position:relative;
    border-radius: 10px;
}
.card1:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}
.card2:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}
.card3:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}
.card4:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 300ms;
}

.card1 span{
    position: absolute;
    bottom: 0;
    left: 20px;
}
.card2{
    height: 300px;
    width: 250px;
    background: url(images/collection2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    position:relative;
    border-radius: 10px;
}

.card2 span{
    position: absolute;
    bottom: 0;
    left: 20px;
}
.card3{
    height: 300px;
    width: 250px;
    background: url(images/collection3.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    position:relative;
    border-radius: 10px;
}

.card3 span{
    position: absolute;
    bottom: 0;
    left: 20px;
}
.card4{
    height: 300px;
    width: 250px;
    background: url(images/collection4.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    position:relative;
    border-radius: 10px;
}

.card4 span{
    position: absolute;
    bottom: 0;
    /* color: red; */
    /* font-weight: 400; */
    left: 20px;
}
.get_the_app{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color:rgb(255, 251, 247);
}
.img_moblie_app{
    background: url(images/mobileBanner.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 300px;
    margin-left: 200px;
}
.get_the_app_info *{
    margin: 5px 0 20px 0;
    font-weight: 300;
}
.get_the_app_info button{
    color: white;
    border: none;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(244, 103, 103);
}
.get_the_app_info .Email_input{
    width: 300px;
    padding: 12px;
    border-radius: 7px;
    color: rgb(212, 207, 207);
    border: 1px solid rgb(212, 207, 207);
    font-size: 17px;
}
.get_the_app_info img{
    height: 50px;
    margin-right: 30px;
}
.Explore_options{
    height: 350px;
    /* background-color: aqua; */
    padding: 20px;
    margin-bottom: 80px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Explore_options_Writing{
    margin-top: 50px;
    width: 1100px;
    font-size: 30px;
    /* border: 1px solid rgb(190, 189, 189); */
}
.Explore_options1, .Explore_options2, .Explore_options3{
    width: 1100px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(222, 220, 220);
    position: relative;
    font-size: large;
    color: rgb(174, 174, 175);
}
#arrow{
    position: absolute;
    right: 20px;
    top: 25px;
    
}
.footer{
    height: 450px;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center ;
    padding-bottom: 20px;
}
.footer_section{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_section1{
    position: relative;
    margin-top: 30px;
    
}
.footer_section1 .India_button{
    position: absolute;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 17px;
    right: 150px;
    padding: 8px;
}
.footer_section1 .English_button{
    position: absolute;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 17px;
    right: 10px;
    padding: 8px;
}
.footer_section2{
    height: 700px;
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.footer_section2_part1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer_section2_part1 a{
    text-decoration: none;
    color: #a8a5a5;
}
.footer_section2_part2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer_section2_part2 a{
    text-decoration: none;
    color: #a8a5a5;
}
.footer_section2_part3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer_section2_part3 a{
    text-decoration: none;
    
    color: #a8a5a5;
}
.footer_section2_part4{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer_section2_part4 a{
    text-decoration: none;
    color: #a8a5a5;
}
.footer_section2_part5{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.footer_section2_part5 .All_icons i{
    margin-left: 5px;
}



@media only screen and (max-width:600px){
    .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    #main_pic_div{
        min-height: 80vh;
    }
}
@media only screen and (max-width:1300px){
    .footer_section2{
        grid-template-columns: repeat(3,1fr);
        width: 90%;
    }
}
@media only screen and (max-width:800px){
    .footer_section2{
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }
}
@media only screen and (max-width:500px){
    .footer_section2{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
}


